@charset "utf-8";
/* CSS Document */
*{
	margin :0;
	padding:0 ;
	box-sizing: border-box;
	scroll-behavior:smooth;
}
.GIF{
	text-align: center;
	background-color:black; 
}
.GIF img {
	width: 50%;
	padding : 20px;
}
ion-icon:hover{
	color: black;
	font-weight: 700;
	box-shadow: 5px 10px 9px 23px rgba(0,0,0,0.1);
}
.tieude li{
	padding : 0 50px;
}
ion-icon{
	font-size: 50px;
}
.navbar img {
	width: 10%;
}
.banner1 img{
	width :49%;
}

.men img{
	height: 900px;
}
.women img {
	height : 800px;
}
p{
	font-size : 16px;
}
.video {
	padding : 0 15%;
	text-align: center;
}
.chan {
	background-color: black;
	color: white;
	height : 700px;
	padding : 0 50px;
}
.chan ion-icon{
	color: white;
}
.chan .cot {
	width : 30%;
	padding : 100px;
	text-align: center;
	
}
@media screen and (max-width:576px){
	
}
